<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/index-nonlogin.css">
    <title>COZYBOOKSðŸ“–</title>
</head>
<body>
    <div class="nav-container">
        <ul>
            <li><img class="logo"src="./pic/logo.png" width="50px" height="50px ></li>
            <li><img src="#" alt=""></li>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Books</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/news">News</a></li>
            <!-- à¹€à¸›à¸¥à¸µà¹ˆà¸¢à¸™à¸•à¸³à¹à¸«à¸™à¹ˆà¸‡à¸‚à¸­à¸‡à¸¥à¸´à¸‡à¸à¹Œ Login à¹à¸¥à¸° Register -->
            <li class="login"><a href="/login">Login</a></li>
            <li class="register"><a href="/register">Register</a></li>
        </ul>
        
        <center><h3 class="title">COZYBOOKS REVIEWS.</h3></center>
    </div>
    <div class="container">
        <div class="wrapper">
            <img src="../pic/HarryPotter.jpg" width="670px" height="670px">
            <img src="../pic/JavaScript.jpg"width="800px" height="670px">
            <img src="../pic/The Witcher.jpg"width="700px" height="670px">
            <img src="../pic/TheCallofCthulhu.jpg">
        </div>
    </div>

    <footer>
        <h3>2024 COZYBOOKS.COM</h3>
    </footer>
</body>
</html>
