<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/register.css">
    <title>COZYBOOKS📖</title>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <div class="nav-container">
        <ul>
            <li><img class="logo"src="./pic/logo.png" width="50px" height="50px ></li>
            <li><img src="#" alt=""></li>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Books</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/news">News</a></li>
        </ul>
        
        <center><h3 class="title">COZYBOOKS REVIEWS.</h3></center>
    </div>
    <form action="/register" method="POST">
        <h3>Register✏️</h3>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" placeholder="Enter username"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"placeholder="Enter email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" placeholder="Enter password"><br>
        <a href="/login">Already have account</a>
        <button type="submit" value="create">Register</button>
        </div>
    </div>
    </form>
    <footer>
        <h3>2024 COZYBOOKS.COM</h3>
    </footer>
</body>
</html>